# Dependency directories
node_modules/

# Environment variables (contains private API keys and database strings)
.env

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store

*.log